@keyframes text-zeigen {
    from {
        transform: translate(150px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes text-zeigen-left {
    from {
        transform: translate(-150px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes text-zeigen-auf {
    from {
        opacity: 0;
        transform: translateY(180px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes marquee {
    to {
        transform: translateX(calc(-100% - 5px));
    }
}

.text-zeigen {
    animation: text-zeigen linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.text-zeigen-left {
    animation: text-zeigen linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}
.text-zeigen-auf {
    animation: text-zeigen-auf linear;
    animation-timeline: view();
    animation-range: cover 0% cover 10%;

}