@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./custom_variables";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

$theme-colors: map-merge(("dark2":$dark2, "dark3":$dark3, "light2":$light2, "light3": $light3), $theme-colors);
$spacers: map-merge((6: $spacer * 6, 15: $spacer * 15), $spacers);

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/transitions";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";


// 8. Optionally use Bootstrap Icons
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons";

// 9. components
@import "./components/header";
@import "./components/hero";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/social";

// others
@import "./others/robot";
@import "./others/cube";

//themes
@import "./themes/theme-light";
@import "./themes/theme-dark";

//mixins
@import "./mixins/mixins";

//keyframes
@import "./keyframes/keyframes";

//Code
* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;

}
html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
}
h2 {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}
.btn {
    font-weight: bold;
}
a {
    cursor: pointer;
    transition: color 0.2s;
    color: inherit;
}
.main-wrapper { 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1.5rem;
} 

h1 + span {
    display: block;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 2.25rem;
}

ul.icon-ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;     
}

  
@include themable("theme-light", $theme-light);
@include themable("theme-dark", $theme-dark);
@media only screen and (min-width: 576px) {
    
}
@media only screen and (min-width: 768px) {

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50%;
        margin: 0 auto;
        gap: 10vw;
    }

}


//Theme toggler 
.theme-toggler {
    cursor: pointer;
    z-index: 1000;
    position: fixed;
    font-size: 1.5rem;
    bottom: 1.8rem;
    left: 1.8rem;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.4s;
    color: $light;
    &:hover {
        background-color: #fff5;
    }
    .bi.bi-circle-half {
        color: inherit;
        transition: all 1s;
    }
    &.dark {
        color: $dark;
        transform: rotate(180deg);
        &:hover {
            background-color: #1115;
        }
    }
}

.marquee-btn {
    display: inline-block;
    position: relative;
    text-decoration: none;
    user-select: none;
    > span {
        opacity: 1;
        transition: opacity .2s;
    }
    .marquee {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        display: flex;

        overflow: hidden;
        width: 100%;
        gap: 5px;
        transition: opacity .2s;
        span {
            flex-shrink: 0;
            animation: marquee 3s linear infinite;
        }
    }
    &:hover {
        > span {
            opacity: 0;
        }
        .marquee {
            opacity: 1;
        }
    }
}

// Das Personliches Scrollbar 
::-webkit-scrollbar {
    background-color: #444;
    width: 0.5rem;
}
::-webkit-scrollbar-button {
    height: 0;
}
::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

